body {
    font-family: 'Poppins';font-size: 16px;
    background-color: #f8f8f8;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.container {
    display: flex;
    justify-content: space-around;
    width: 80%;
    max-width: 1200px;
}

.container1, .container2 {
    background: white;
    border: 10px solid #fff;
    border-radius: 10px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 45%; /* Adjusted for side-by-side layout */
    margin: 10px; /* Added margin between containers */
    position: relative;
}

h1, h2 {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

textarea:focus {
    border-color: #007BFF;
    outline: none;
}

.button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}

.container1::after, .container2::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 10px;
    background-color: #ccc;
    border-radius: 5px;
}
.gif {
    display: block; /* Make the image a block element */
    margin: 10px auto; /* Center the GIF and add some space */
    width: 100px; /* Adjust the size of the GIF as needed */
    height: auto; /* Maintain aspect ratio */
}